In [1]:
import pandas as pd
import json
import os
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint
import numpy as np

In [2]:
filepath = os.path.join(".", "Resources", "clean_crash_population.csv")
df = pd.read_csv(filepath, low_memory=False)

In [3]:
df

,Crash ID,State,Crash Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Christmas Period,Easter Period,Age Group,Day of week,Time of day,Quarter,Population Month,Male,Female,All
0,20212045,Vic,6,2021,Monday,5:40,Single,No,No,No,...,No,No,26_to_39,Weekend,Night,Q2,6,3291572,3357587,6649159
1,20212082,Vic,6,2021,Sunday,14:00,Single,No,No,No,...,No,No,40_to_64,Weekend,Day,Q2,6,3291572,3357587,6649159
2,20212079,Vic,6,2021,Saturday,13:25,Single,No,No,No,...,No,No,65_to_74,Weekend,Day,Q2,6,3291572,3357587,6649159
3,20212111,Vic,6,2021,Thursday,16:50,Single,No,No,No,...,No,No,40_to_64,Weekday,Day,Q2,6,3291572,3357587,6649159
4,20212149,Vic,6,2021,Wednesday,14:38,Multiple,No,No,No,...,No,No,17_to_25,Weekday,Day,Q2,6,3291572,3357587,6649159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40505,19894033,SA,1,1989,Friday,15:35,Single,No,NaN,No,...,No,No,0_to_16,Weekday,Day,Q1,3,703474,713464,1416938
40506,19894028,SA,1,1989,Thursday,10:00,Single,No,NaN,No,...,No,No,40_to_64,Weekday,Day,Q1,3,703474,713464,1416938
40507,19894151,SA,1,1989,Wednesday,11:45,Multiple,No,NaN,No,...,No,No,65_to_74,Weekday,Day,Q1,3,703474,713464,1416938
40508,19894095,SA,1,1989,Thursday,18:00,Multiple,No,NaN,No,...,No,No,65_to_74,Weekday,Night,Q1,3,703474,713464,1416938
40509,19894145,SA,1,1989,Saturday,19:20,Single,No,NaN,No,...,No,No,26_to_39,Weekend,Night,Q1,3,703474,713464,1416938

In [5]:
filepath = os.path.join(".", "Resources", "Crash_Data.csv")
df = pd.read_csv(filepath, low_memory=False)

In [6]:
df

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2016,National LGA Name 2017,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
0,20212133,Vic,9,2021,Sunday,0:30,Single,NaN,NaN,NaN,...,38,Inner Regional Australia,Melbourne - Outer East,Yarra Ranges (S),Arterial Road,No,No,26_to_39,Weekend,Night
1,20214022,SA,9,2021,Saturday,23:31,Multiple,No,No,No,...,28,Major Cities of Australia,Adelaide - North,Playford (C),NaN,No,No,26_to_39,Weekend,Night
2,20212096,Vic,9,2021,Saturday,23:00,Single,NaN,NaN,NaN,...,19,Inner Regional Australia,Hume,Wangaratta (RC),Access road,No,No,17_to_25,Weekend,Night
3,20212145,Vic,9,2021,Saturday,22:25,Single,NaN,NaN,NaN,...,23,Outer Regional Australia,Hume,Wangaratta (RC),Arterial Road,No,No,17_to_25,Weekend,Night
4,20212075,Vic,9,2021,Saturday,5:15,Single,NaN,NaN,NaN,...,46,Major Cities of Australia,Melbourne - South East,Casey (C),Local Road,No,No,40_to_64,Weekend,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52838,19891246,NSW,1,1989,Wednesday,17:05,Single,Yes,NaN,No,...,5,NaN,NaN,NaN,NaN,No,No,0_to_16,Weekday,Day
52839,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,19,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52840,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,17,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52841,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,17,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52842,19896063,Tas,1,1989,Tuesday,12:40,Multiple,No,NaN,No,...,63,NaN,NaN,NaN,NaN,No,No,40_to_64,Weekday,Day