In [11]:
#Importing dependencies 
import pandas as pd
import json
import os
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint
import numpy as np

In [365]:
#reading in files
filepath = os.path.join(".", "Resources", "Crash_Data.csv")
df = pd.read_csv(filepath, low_memory=False)
pop_filepath = os.path.join(".", "Resources", "Population data.xlsx")
df_pop = pd.read_excel(pop_filepath, sheet_name = "Data1")

In [366]:
df

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2016,National LGA Name 2017,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
0,20212133,Vic,9,2021,Sunday,0:30,Single,NaN,NaN,NaN,...,38,Inner Regional Australia,Melbourne - Outer East,Yarra Ranges (S),Arterial Road,No,No,26_to_39,Weekend,Night
1,20214022,SA,9,2021,Saturday,23:31,Multiple,No,No,No,...,28,Major Cities of Australia,Adelaide - North,Playford (C),NaN,No,No,26_to_39,Weekend,Night
2,20212096,Vic,9,2021,Saturday,23:00,Single,NaN,NaN,NaN,...,19,Inner Regional Australia,Hume,Wangaratta (RC),Access road,No,No,17_to_25,Weekend,Night
3,20212145,Vic,9,2021,Saturday,22:25,Single,NaN,NaN,NaN,...,23,Outer Regional Australia,Hume,Wangaratta (RC),Arterial Road,No,No,17_to_25,Weekend,Night
4,20212075,Vic,9,2021,Saturday,5:15,Single,NaN,NaN,NaN,...,46,Major Cities of Australia,Melbourne - South East,Casey (C),Local Road,No,No,40_to_64,Weekend,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52838,19891246,NSW,1,1989,Wednesday,17:05,Single,Yes,NaN,No,...,5,NaN,NaN,NaN,NaN,No,No,0_to_16,Weekday,Day
52839,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,19,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52840,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,17,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52841,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,17,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52842,19896063,Tas,1,1989,Tuesday,12:40,Multiple,No,NaN,No,...,63,NaN,NaN,NaN,NaN,No,No,40_to_64,Weekday,Day

## Cleaning Data

Cleaning the data from the population dataset.

In [367]:
df

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Age,National Remoteness Areas,SA4 Name 2016,National LGA Name 2017,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day
0,20212133,Vic,9,2021,Sunday,0:30,Single,NaN,NaN,NaN,...,38,Inner Regional Australia,Melbourne - Outer East,Yarra Ranges (S),Arterial Road,No,No,26_to_39,Weekend,Night
1,20214022,SA,9,2021,Saturday,23:31,Multiple,No,No,No,...,28,Major Cities of Australia,Adelaide - North,Playford (C),NaN,No,No,26_to_39,Weekend,Night
2,20212096,Vic,9,2021,Saturday,23:00,Single,NaN,NaN,NaN,...,19,Inner Regional Australia,Hume,Wangaratta (RC),Access road,No,No,17_to_25,Weekend,Night
3,20212145,Vic,9,2021,Saturday,22:25,Single,NaN,NaN,NaN,...,23,Outer Regional Australia,Hume,Wangaratta (RC),Arterial Road,No,No,17_to_25,Weekend,Night
4,20212075,Vic,9,2021,Saturday,5:15,Single,NaN,NaN,NaN,...,46,Major Cities of Australia,Melbourne - South East,Casey (C),Local Road,No,No,40_to_64,Weekend,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52838,19891246,NSW,1,1989,Wednesday,17:05,Single,Yes,NaN,No,...,5,NaN,NaN,NaN,NaN,No,No,0_to_16,Weekday,Day
52839,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,19,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52840,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,17,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52841,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,17,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day
52842,19896063,Tas,1,1989,Tuesday,12:40,Multiple,No,NaN,No,...,63,NaN,NaN,NaN,NaN,No,No,40_to_64,Weekday,Day

In [383]:
#removing superfluous rows 
df_pop = df_pop.iloc[9:, :]

In [369]:
df_pop

,Unnamed: 0,Estimated Resident Population ; Male ; New South Wales ;,Estimated Resident Population ; Male ; Victoria ;,Estimated Resident Population ; Male ; Queensland ;,Estimated Resident Population ; Male ; South Australia ;,Estimated Resident Population ; Male ; Western Australia ;,Estimated Resident Population ; Male ; Tasmania ;,Estimated Resident Population ; Male ; Northern Territory ;,Estimated Resident Population ; Male ; Australian Capital Territory ;,Estimated Resident Population ; Male ; Australia ;,...,Estimated Resident Population ; Female ; Australia ;,Estimated Resident Population ; Persons ; New South Wales ;,Estimated Resident Population ; Persons ; Victoria ;,Estimated Resident Population ; Persons ; Queensland ;,Estimated Resident Population ; Persons ; South Australia ;,Estimated Resident Population ; Persons ; Western Australia ;,Estimated Resident Population ; Persons ; Tasmania ;,Estimated Resident Population ; Persons ; Northern Territory ;,Estimated Resident Population ; Persons ; Australian Capital Territory ;,Estimated Resident Population ; Persons ; Australia ;
9,1981-06-01 00:00:00,2608351,1958717,1178447,653940,657249,212565,65393,113605,7448267,...,7474993,5234889,3946917,2345208,1318769,1300056,427224,122616,227581,14923260
10,1981-09-01 00:00:00,2616060,1964139,1189946,655136,663047,212862,66716,114215,7482121,...,7506556,5249455,3957333,2367477,1321235,1311284,427925,125186,228782,14988677
11,1981-12-01 00:00:00,2624579,1969349,1200504,657014,667381,212935,68023,114554,7514339,...,7539778,5266894,3968398,2387943,1325176,1320221,428283,127718,229484,15054117
12,1982-03-01 00:00:00,2634534,1975617,1210128,658840,672273,213477,69023,115374,7549266,...,7572432,5286119,3980826,2406355,1328670,1329700,429445,129593,230990,15121698
13,1982-06-01 00:00:00,2643527,1981619,1219369,660066,676892,213679,69388,116374,7580914,...,7603333,5303580,3992870,2424586,1331108,1338899,429845,130314,233045,15184247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,2020-06-01 00:00:00,4051716,3313938,2556616,873503,1328244,267230,126288,212892,12732938,...,12960329,8167024,6693858,5175245,1770277,2664212,540536,246235,431213,25693267
166,2020-09-01 00:00:00,4049429,3304692,2560204,873468,1329495,267355,126324,212696,12726185,...,12954964,8162613,6675626,5182750,1770249,2667361,540644,246457,430763,25681149
167,2020-12-01 00:00:00,4051606,3295641,2565637,873453,1330906,267514,126091,212619,12725993,...,12957695,8168294,6657917,5193404,1770467,2670646,540970,246280,431020,25683688
168,2021-03-01 00:00:00,4055333,3291551,2572425,874254,1333915,267782,126220,212956,12736964,...,12967953,8175379,6649441,5206878,1771952,2676777,541609,246580,431606,25704917
169,2021-06-01 00:00:00,4062850,3291572,2579244,874945,1336204,267611,126068,213183,12754212,...,12985044,8189266,6649159,5221170,1773243,2681633,541479,246338,432266,25739256

In [370]:
df_pop.columns

Index(['Unnamed: 0',
       'Estimated Resident Population ;  Male ;  New South Wales ;',
       'Estimated Resident Population ;  Male ;  Victoria ;',
       'Estimated Resident Population ;  Male ;  Queensland ;',
       'Estimated Resident Population ;  Male ;  South Australia ;',
       'Estimated Resident Population ;  Male ;  Western Australia ;',
       'Estimated Resident Population ;  Male ;  Tasmania ;',
       'Estimated Resident Population ;  Male ;  Northern Territory ;',
       'Estimated Resident Population ;  Male ;  Australian Capital Territory ;',
       'Estimated Resident Population ;  Male ;  Australia ;',
       'Estimated Resident Population ;  Female ;  New South Wales ;',
       'Estimated Resident Population ;  Female ;  Victoria ;',
       'Estimated Resident Population ;  Female ;  Queensland ;',
       'Estimated Resident Population ;  Female ;  South Australia ;',
       'Estimated Resident Population ;  Female ;  Western Australia ;',
       'Estimated Resident Population ;  Female ;  Tasmania ;',
       'Estimated Resident Population ;  Female ;  Northern Territory ;',
       'Estimated Resident Population ;  Female ;  Australian Capital Territory ;',
       'Estimated Resident Population ;  Female ;  Australia ;',
       'Estimated Resident Population ;  Persons ;  New South Wales ;',
       'Estimated Resident Population ;  Persons ;  Victoria ;',
       'Estimated Resident Population ;  Persons ;  Queensland ;',
       'Estimated Resident Population ;  Persons ;  South Australia ;',
       'Estimated Resident Population ;  Persons ;  Western Australia ;',
       'Estimated Resident Population ;  Persons ;  Tasmania ;',
       'Estimated Resident Population ;  Persons ;  Northern Territory ;',
       'Estimated Resident Population ;  Persons ;  Australian Capital Territory ;',
       'Estimated Resident Population ;  Persons ;  Australia ;'],
      dtype='object')

In [371]:
#Make column names more meaningful and easier to read

df_pop = df_pop.rename(columns = {'Unnamed: 0': 'Date',
                                 'Estimated Resident Population ;  Male ;  New South Wales ;':  "NSW - Male", 
                                'Estimated Resident Population ;  Male ;  Victoria ;': "Vic - Male",
                                'Estimated Resident Population ;  Male ;  Queensland ;': "QLD - Male",
                                'Estimated Resident Population ;  Male ;  South Australia ;': "SA - Male",
                                'Estimated Resident Population ;  Male ;  Western Australia ;': "WA - Male",
                                'Estimated Resident Population ;  Male ;  Tasmania ;': "Tas - Male",
                                'Estimated Resident Population ;  Male ;  Northern Territory ;': "NT - Male",
                                'Estimated Resident Population ;  Male ;  Australian Capital Territory ;': "ACT - Male",
                                'Estimated Resident Population ;  Male ;  Australia ;': "AUS - Male",
                                'Estimated Resident Population ;  Female ;  New South Wales ;':  "NSW - Female",
                                'Estimated Resident Population ;  Female ;  Victoria ;': "Vic - Female",
                                'Estimated Resident Population ;  Female ;  Queensland ;': "QLD - Female",
                                'Estimated Resident Population ;  Female ;  South Australia ;': "SA - Female",
                                'Estimated Resident Population ;  Female ;  Western Australia ;': "WA - Female",
                                'Estimated Resident Population ;  Female ;  Tasmania ;': "Tas - Female",
                                'Estimated Resident Population ;  Female ;  Northern Territory ;': "NT - Female",
                                'Estimated Resident Population ;  Female ;  Australian Capital Territory ;': "ACT - Female",
                                'Estimated Resident Population ;  Female ;  Australia ;': "AUS - Female",
                                'Estimated Resident Population ;  Persons ;  New South Wales ;': "NSW - All",
                                'Estimated Resident Population ;  Persons ;  Victoria ;': "Vic - All",
                                'Estimated Resident Population ;  Persons ;  Queensland ;': "QLD - All",
                                'Estimated Resident Population ;  Persons ;  South Australia ;': "SA - All",
                                'Estimated Resident Population ;  Persons ;  Western Australia ;': "WA - All",
                                'Estimated Resident Population ;  Persons ;  Tasmania ;': "Tas - All",
                                'Estimated Resident Population ;  Persons ;  Northern Territory ;': "NT - All",
                                'Estimated Resident Population ;  Persons ;  Australian Capital Territory ;': "ACT - All",
                                'Estimated Resident Population ;  Persons ;  Australia ;': "AUS - All",
                                 
                                 })
#Parse the month and year into new columns and drop old date column
df_pop["Month"] = df_pop["Date"].astype(str).str.split("-")
df_pop['Month'] = df_pop["Date"].astype(str).str[5:7]
df_pop["Year"] = df_pop["Date"].astype(str).str[:4]
df_pop = df_pop.drop("Date",axis = 1)

In [372]:
#Return Month and Year back to int 
df_pop["Month"] = df_pop["Month"].astype(int)
df_pop["Year"] = df_pop["Year"].astype(int)

In [373]:
#Reset the Index
df_pop.reset_index(drop = True, inplace = True)
df_pop

,NSW - Male,Vic - Male,QLD - Male,SA - Male,WA - Male,Tas - Male,NT - Male,ACT - Male,AUS - Male,NSW - Female,...,Vic - All,QLD - All,SA - All,WA - All,Tas - All,NT - All,ACT - All,AUS - All,Month,Year
0,2608351,1958717,1178447,653940,657249,212565,65393,113605,7448267,2626538,...,3946917,2345208,1318769,1300056,427224,122616,227581,14923260,6,1981
1,2616060,1964139,1189946,655136,663047,212862,66716,114215,7482121,2633395,...,3957333,2367477,1321235,1311284,427925,125186,228782,14988677,9,1981
2,2624579,1969349,1200504,657014,667381,212935,68023,114554,7514339,2642315,...,3968398,2387943,1325176,1320221,428283,127718,229484,15054117,12,1981
3,2634534,1975617,1210128,658840,672273,213477,69023,115374,7549266,2651585,...,3980826,2406355,1328670,1329700,429445,129593,230990,15121698,3,1982
4,2643527,1981619,1219369,660066,676892,213679,69388,116374,7580914,2660053,...,3992870,2424586,1331108,1338899,429845,130314,233045,15184247,6,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,4051716,3313938,2556616,873503,1328244,267230,126288,212892,12732938,4115308,...,6693858,5175245,1770277,2664212,540536,246235,431213,25693267,6,2020
157,4049429,3304692,2560204,873468,1329495,267355,126324,212696,12726185,4113184,...,6675626,5182750,1770249,2667361,540644,246457,430763,25681149,9,2020
158,4051606,3295641,2565637,873453,1330906,267514,126091,212619,12725993,4116688,...,6657917,5193404,1770467,2670646,540970,246280,431020,25683688,12,2020
159,4055333,3291551,2572425,874254,1333915,267782,126220,212956,12736964,4120046,...,6649441,5206878,1771952,2676777,541609,246580,431606,25704917,3,2021
160,4062850,3291572,2579244,874945,1336204,267611,126068,213183,12754212,4126416,...,6649159,5221170,1773243,2681633,541479,246338,432266,25739256,6,2021

In [374]:
#Create a column for quarter to later merge with crash data frame
df_pop.loc[(df_pop.Month >= 1) & (df_pop.Month <= 3), 'Quarter'] = "Q1"
df_pop.loc[(df_pop.Month >= 4) & (df_pop.Month <= 6), 'Quarter'] = "Q2"
df_pop.loc[(df_pop.Month >= 7) & (df_pop.Month <= 9), 'Quarter'] = "Q3"
df_pop.loc[(df_pop.Month >= 10) & (df_pop.Month <= 12), 'Quarter'] = "Q4"

In [232]:
df_pop

,NSW - Male,Vic - Male,QLD - Male,SA - Male,WA - Male,Tas - Male,NT - Male,ACT - Male,AUS - Male,NSW - Female,...,QLD - All,SA - All,WA - All,Tas - All,NT - All,ACT - All,AUS - All,Month,Year,Quarter
0,2608351,1958717,1178447,653940,657249,212565,65393,113605,7448267,2626538,...,2345208,1318769,1300056,427224,122616,227581,14923260,6,1981,Q2
1,2616060,1964139,1189946,655136,663047,212862,66716,114215,7482121,2633395,...,2367477,1321235,1311284,427925,125186,228782,14988677,9,1981,Q3
2,2624579,1969349,1200504,657014,667381,212935,68023,114554,7514339,2642315,...,2387943,1325176,1320221,428283,127718,229484,15054117,12,1981,Q4
3,2634534,1975617,1210128,658840,672273,213477,69023,115374,7549266,2651585,...,2406355,1328670,1329700,429445,129593,230990,15121698,3,1982,Q1
4,2643527,1981619,1219369,660066,676892,213679,69388,116374,7580914,2660053,...,2424586,1331108,1338899,429845,130314,233045,15184247,6,1982,Q2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,4051716,3313938,2556616,873503,1328244,267230,126288,212892,12732938,4115308,...,5175245,1770277,2664212,540536,246235,431213,25693267,6,2020,Q2
157,4049429,3304692,2560204,873468,1329495,267355,126324,212696,12726185,4113184,...,5182750,1770249,2667361,540644,246457,430763,25681149,9,2020,Q3
158,4051606,3295641,2565637,873453,1330906,267514,126091,212619,12725993,4116688,...,5193404,1770467,2670646,540970,246280,431020,25683688,12,2020,Q4
159,4055333,3291551,2572425,874254,1333915,267782,126220,212956,12736964,4120046,...,5206878,1771952,2676777,541609,246580,431606,25704917,3,2021,Q1
160,4062850,3291572,2579244,874945,1336204,267611,126068,213183,12754212,4126416,...,5221170,1773243,2681633,541479,246338,432266,25739256,6,2021,Q2

In [375]:
#Create new dataframes for each state, add a new column with the state, 
#then reset the column names so they are the same for consolidating into a new dataframe 

nsw = df_pop[["Quarter", "Month", "Year", "NSW - Male", "NSW - Female", "NSW - All"]]
nsw.insert(0, 'State', 'NSW')
nsw.columns = [x.replace("NSW - ", "") for x in nsw.columns]

tas = df_pop[["Quarter", "Month", "Year", "Tas - Male", "Tas - Female", "Tas - All"]]
tas.insert(0, 'State', 'Tas')
tas.columns = [x.replace("Tas - ", "") for x in tas.columns]

vic = df_pop[["Quarter", "Month", "Year", "Vic - Male", "Vic - Female", "Vic - All"]]
vic.insert(0, 'State', 'Vic')
vic.columns = [x.replace("Vic - ", "") for x in vic.columns]

qld = df_pop[["Quarter", "Month", "Year", "QLD - Male", "QLD - Female", "QLD - All"]]
qld.insert(0, 'State', 'QLD')
qld.columns = [x.replace("QLD - ", "") for x in qld.columns]

sa = df_pop[["Quarter", "Month", "Year", "SA - Male", "SA - Female", "SA - All"]]
sa.insert(0, 'State', 'SA')
sa.columns = [x.replace("SA - ", "") for x in sa.columns]

wa = df_pop[["Quarter", "Month", "Year", "WA - Male", "WA - Female", "WA - All"]]
wa.insert(0, 'State', 'WA')
wa.columns = [x.replace("WA - ", "") for x in wa.columns]

nt = df_pop[["Month", "Year", "NT - Male", "NT - Female", "NT - All"]]
nt.insert(0, 'State', 'NT')
nt.columns = [x.replace("NT - ", "") for x in nt.columns]

act = df_pop[["Quarter", "Month", "Year", "ACT - Male", "ACT - Female", "ACT - All"]]
act.insert(0, 'State', 'ACT')
act.columns = [x.replace("ACT - ", "") for x in act.columns]

In [376]:
df.fillna('', inplace=True)

#Create a column for quarter crash dataset to merge with population dataset

df.loc[(df.Month >= 1) & (df.Month <= 3), 'Quarter'] = "Q1"
df.loc[(df.Month >= 4) & (df.Month <= 6), 'Quarter'] = "Q2"
df.loc[(df.Month >= 7) & (df.Month <= 9), 'Quarter'] = "Q3"
df.loc[(df.Month >= 10) & (df.Month <= 12), 'Quarter'] = "Q4"
df

,Crash ID,State,Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,National Remoteness Areas,SA4 Name 2016,National LGA Name 2017,National Road Type,Christmas Period,Easter Period,Age Group,Day of week,Time of day,Quarter
0,20212133,Vic,9,2021,Sunday,0:30,Single,NaN,NaN,NaN,...,Inner Regional Australia,Melbourne - Outer East,Yarra Ranges (S),Arterial Road,No,No,26_to_39,Weekend,Night,Q3
1,20214022,SA,9,2021,Saturday,23:31,Multiple,No,No,No,...,Major Cities of Australia,Adelaide - North,Playford (C),NaN,No,No,26_to_39,Weekend,Night,Q3
2,20212096,Vic,9,2021,Saturday,23:00,Single,NaN,NaN,NaN,...,Inner Regional Australia,Hume,Wangaratta (RC),Access road,No,No,17_to_25,Weekend,Night,Q3
3,20212145,Vic,9,2021,Saturday,22:25,Single,NaN,NaN,NaN,...,Outer Regional Australia,Hume,Wangaratta (RC),Arterial Road,No,No,17_to_25,Weekend,Night,Q3
4,20212075,Vic,9,2021,Saturday,5:15,Single,NaN,NaN,NaN,...,Major Cities of Australia,Melbourne - South East,Casey (C),Local Road,No,No,40_to_64,Weekend,Night,Q3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52838,19891246,NSW,1,1989,Wednesday,17:05,Single,Yes,NaN,No,...,NaN,NaN,NaN,NaN,No,No,0_to_16,Weekday,Day,Q1
52839,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day,Q1
52840,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day,Q1
52841,19895088,WA,1,1989,Monday,6:00,Single,No,NaN,No,...,NaN,NaN,NaN,NaN,Yes,No,17_to_25,Weekday,Day,Q1
52842,19896063,Tas,1,1989,Tuesday,12:40,Multiple,No,NaN,No,...,NaN,NaN,NaN,NaN,No,No,40_to_64,Weekday,Day,Q1

In [377]:
#Consolidating state dfs into one population df
state_pop = tas.append([vic, nsw, nt, act, wa, qld, sa])

In [378]:
state_pop

    State Quarter  Month  Year    Male  Female      All
0     Tas      Q2      6  1981  212565  214659   427224
1     Tas      Q3      9  1981  212862  215063   427925
2     Tas      Q4     12  1981  212935  215348   428283
3     Tas      Q1      3  1982  213477  215968   429445
4     Tas      Q2      6  1982  213679  216166   429845
..    ...     ...    ...   ...     ...     ...      ...
156    SA      Q2      6  2020  873503  896774  1770277
157    SA      Q3      9  2020  873468  896781  1770249
158    SA      Q4     12  2020  873453  897014  1770467
159    SA      Q1      3  2021  874254  897698  1771952
160    SA      Q2      6  2021  874945  898298  1773243

[1288 rows x 7 columns]

In [379]:
#merging crash dataframe with population dataframe and renaming month column to a meaningful name

main_df = pd.merge(df, state_pop,  how='inner', on=['State', 'Year', 'Quarter'])
main_df = main_df.rename(columns={"Month_x": "Crash Month",
                                  "Month_y": "Population Month"
                                 })

In [317]:
main_df.loc[main_df["State"] == "Tas"].head(50)

,Crash ID,State,Crash Month,Year,Dayweek,Time,Crash Type,Bus Involvement,Heavy Rigid Truck Involvement,Articulated Truck Involvement,...,Christmas Period,Easter Period,Age Group,Day of week,Time of day,Quarter,Population Month,Male,Female,All
185,20216023,Tas,6,2021,Monday,13:30,Single,No,No,No,...,No,No,40_to_64,Weekday,Day,Q2,6,267611,273868,541479
186,20216010,Tas,6,2021,Thursday,15:38,Single,No,No,No,...,No,No,65_to_74,Weekday,Day,Q2,6,267611,273868,541479
187,20216026,Tas,5,2021,Saturday,0:27,Single,No,No,No,...,No,No,17_to_25,Weekend,Night,Q2,6,267611,273868,541479
188,20216014,Tas,5,2021,Saturday,21:40,Single,No,No,No,...,No,No,26_to_39,Weekend,Night,Q2,6,267611,273868,541479
189,20216002,Tas,5,2021,Thursday,18:02,Multiple,No,No,No,...,No,No,17_to_25,Weekday,Night,Q2,6,267611,273868,541479
190,20216022,Tas,4,2021,Sunday,10:08,Multiple,No,No,No,...,No,No,40_to_64,Weekend,Day,Q2,6,267611,273868,541479
191,20216006,Tas,4,2021,Thursday,12:15,Multiple,No,No,No,...,No,Yes,40_to_64,Weekday,Day,Q2,6,267611,273868,541479
192,20216012,Tas,4,2021,Thursday,19:36,Single,No,No,No,...,No,No,26_to_39,Weekday,Night,Q2,6,267611,273868,541479
193,20216008,Tas,4,2021,Friday,12:04,Single,No,No,No,...,No,No,65_to_74,Weekday,Day,Q2,6,267611,273868,541479
194,20216007,Tas,4,2021,Thursday,17:28,Single,No,No,No,...,No,No,17_to_25,Weekday,Day,Q2,6,267611,273868,541479
410,20216025,Tas,3,2021,Saturday,21:18,Single,No,No,No,...,No,No,40_to_64,Weekend,Night,Q1,3,267782,273827,541609
411,20216011,Tas,2,2021,Sunday,14:40,Single,No,No,No,...,No,No,40_to_64,Weekend,Day,Q1,3,267782,273827,541609
412,20216017,Tas,1,2021,Monday,14:33,Multiple,No,No,No,...,No,No,40_to_64,Weekday,Day,Q1,3,267782,273827,541609
413,20216024,Tas,1,2021,Wednesday,22:55,Multiple,No,Yes,No,...,No,No,0_to_16,Weekday,Night,Q1,3,267782,273827,541609
514,20206005,Tas,12,2020,Friday,21:25,Single,No,No,No,...,Yes,No,0_to_16,Weekend,Night,Q4,12,267514,273456,540970
515,20206011,Tas,12,2020,Wednesday,23:30,Single,No,No,No,...,No,No,17_to_25,Weekday,Night,Q4,12,267514,273456,540970
516,20206016,Tas,11,2020,Sunday,5:50,Multiple,No,No,No,...,No,No,26_to_39,Weekend,Night,Q4,12,267514,273456,540970
517,20206007,Tas,11,2020,Friday,21:40,Single,No,No,No,...,No,No,26_to_39,Weekend,Night,Q4,12,267514,273456,540970
518,20206003,Tas,10,2020,Saturday,17:51,Multiple,No,No,No,...,No,No,40_to_64,Weekend,Day,Q4,12,267514,273456,540970
519,20206017,Tas,10,2020,Tuesday,16:47,Multiple,No,No,No,...,No,No,40_to_64,Weekday,Day,Q4,12,267514,273456,540970
520,20206015,Tas,10,2020,Friday,12:50,Multiple,No,No,No,...,No,No,40_to_64,Weekday,Day,Q4,12,267514,273456,540970
521,20206015,Tas,10,2020,Friday,12:50,Multiple,No,No,No,...,No,No,65_to_74,Weekday,Day,Q4,12,267514,273456,540970
522,20206027,Tas,10,2020,Wednesday,20:30,Multiple,No,No,No,...,No,No,75_or_older,Weekday,Night,Q4,12,267514,273456,540970
523,20206015,Tas,10,2020,Friday,12:50,Multiple,No,No,No,...,No,No,0_to_16,Weekday,Day,Q4,12,267514,273456,540970
797,20206023,Tas,8,2020,Sunday,0:40,Multiple,No,No,No,...,No,No,26_to_39,Weekend,Night,Q3,9,267355,273289,540644
798,20206028,Tas,8,2020,Saturday,11:25,Multiple,No,No,No,...,No,No,40_to_64,Weekend,Day,Q3,9,267355,273289,540644
799,20206012,Tas,8,2020,Saturday,14:30,Multiple,No,No,No,...,No,No,75_or_older,Weekend,Day,Q3,9,267355,273289,540644
800,20206012,Tas,8,2020,Saturday,14:30,Multiple,No,No,No,...,No,No,75_or_older,Weekend,Day,Q3,9,267355,273289,540644
801,20206006,Tas,8,2020,Thursday,8:40,Multiple,Yes,No,No,...,No,No,40_to_64,Weekday,Day,Q3,9,267355,273289,540644
802,20206006,Tas,8,2020,Thursday,8:40,Multiple,Yes,No,No,...,No,No,0_to_16,Weekday,Day,Q3,9,267355,273289,540644
803,20206014,Tas,7,2020,Monday,19:40,Multiple,No,No,No,...,No,No,26_to_39,Weekday,Night,Q3,9,267355,273289,540644
804,20206001,Tas,7,2020,Saturday,14:10,Multiple,No,No,No,...,No,No,40_to_64,Weekend,Day,Q3,9,267355,273289,540644
805,20206013,Tas,7,2020,Tuesday,15:30,Multiple,No,Yes,No,...,No,No,40_to_64,Weekday,Day,Q3,9,267355,273289,540644
972,20206002,Tas,5,2020,Monday,5:30,Single,No,No,Yes,...,No,No,40_to_64,Weekend,Night,Q2,6,267230,273306,540536
973,20206009,Tas,5,2020,Wednesday,16:22,Single,No,No,No,...,No,No,40_to_64,Weekday,Day,Q2,6,267230,273306,540536
1154,20206010,Tas,3,2020,Tuesday,20:25,Multiple,No,No,Yes,...,No,No,40_to_64,Weekday,Night,Q1,3,266896,272978,539874
1155,20206026,Tas,3,2020,Friday,0:15,Multiple,No,No,No,...,No,No,17_to_25,Weekday,Night,Q1,3,266896,272978,539874
1156,20206029,Tas,3,2020,Wednesday,7:35,Single,No,No,No,...,No,No,17_to_25,Weekday,Day,Q1,3,266896,272978,539874
1157,20206018,Tas,2,2020,Sunday,18:18,Single,No,No,No,...,No,No,40_to_64,Weekend,Night,Q1,3,266896,272978,539874
1158,20206019,Tas,2,2020,Wednesday,5:30,Multiple,No,No,No,...,No,No,26_to_39,Weekday,Night,Q1,3,266896,272978,539874
1159,20206008,Tas,2,2020,Thursday,17:25,Multiple,No,No,No,...,No,No,40_to_64,Weekday,Day,Q1,3,266896,272978,539874
1160,20206019,Tas,2,2020,Wednesday,5:30,Multiple,No,No,No,...,No,No,40_to_64,Weekday,Night,Q1,3,266896,272978,539874
1161,20206024,Tas,2,2020,Saturday,1:10,Single,No,No,No,...,No,No,26_to_39,Weekend,Night,Q1,3,266896,272978,539874
1162,20206019,Tas,2,2020,Wednesday,5:30,Multiple,No,No,No,...,No,No,65_to_74,Weekday,Night,Q1,3,266896,272978,539874
1163,20206022,Tas,1,2020,Monday,0:05,Single,No,No,No,...,No,No,40_to_64,Weekend,Night,Q1,3,266896,272978,539874
1164,20206020,Tas,1,2020,Friday,23:47,Single,No,No,No,...,No,No,17_to_25,Weekend,Night,Q1,3,266896,272978,539874
1165,20206030,Tas,1,2020,Wednesday,10:32,Multiple,No,No,No,...,No,No,40_to_64,Weekday,Day,Q1,3,266896,272978,539874
1166,20206004,Tas,1,2020,Monday,17:15,Multiple,No,No,No,...,No,No,40_to_64,Weekday,Day,Q1,3,266896,272978,539874
1167,20206025,Tas,1,2020,Saturday,12:30,Single,Yes,No,No,...,No,No,40_to_64,Weekend,Day,Q1,3,266896,272978,539874
1168,20206021,Tas,1,2020,Monday,19:26,Multiple,No,No,No,...,No,No,40_to_64,Weekday,Night,Q1,3,266896,272978,539874